ADMIN_EMAIL=admin@livethelook.com
ADMIN_PASSWORD=adminpassword
ADMIN_USERNAME=admin
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
DATABASE_URL=
SECRET_KEY=interiorcraft-secret-key
GEMINI_API_KEY=
PORT=3000
